
<div  id="page-content">
  <div  class="container" id="home-container">
    <div style="background-color: lightblue" class="jumbotron text-center text-dark">
      <h1 class="display-4">Bugs Tracking System</h1>
      <hr class="my-4">
      <p>
        Try Bugzilla to keep track of your projects. It will manage everything about your project wether its bugtracking, adding a new feature or assigning team for your project.
      </p>
      <%if user_signed_in?%>
        <%= link_to 'Sign Out', destroy_user_session_path, class:"btn btn-success " %>
      <%else %>
      <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-success " %>
      <%= link_to 'Log In', new_user_session_path, class:"btn btn-success " %>
      <%end %>
    </div>
  </div>
</div>
